<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_boost_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,101}</string>
                <key>spriteSourceSize</key>
                <string>{73,101}</string>
                <key>textureRect</key>
                <string>{{0,0},{73,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_boost_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,101}</string>
                <key>spriteSourceSize</key>
                <string>{73,101}</string>
                <key>textureRect</key>
                <string>{{0,101},{73,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_boost_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,101}</string>
                <key>spriteSourceSize</key>
                <string>{73,101}</string>
                <key>textureRect</key>
                <string>{{0,202},{73,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_boost_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,101}</string>
                <key>spriteSourceSize</key>
                <string>{73,101}</string>
                <key>textureRect</key>
                <string>{{0,303},{73,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,100}</string>
                <key>spriteSourceSize</key>
                <string>{73,100}</string>
                <key>textureRect</key>
                <string>{{0,404},{73,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,100}</string>
                <key>spriteSourceSize</key>
                <string>{73,100}</string>
                <key>textureRect</key>
                <string>{{0,504},{73,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,100}</string>
                <key>spriteSourceSize</key>
                <string>{73,100}</string>
                <key>textureRect</key>
                <string>{{0,604},{73,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,100}</string>
                <key>spriteSourceSize</key>
                <string>{73,100}</string>
                <key>textureRect</key>
                <string>{{0,704},{73,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_anim_encrypted.pvr.ccz</string>
            <key>size</key>
            <string>{73,804}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:624adb5b533a726efbd43a81a2bfae32:b827633c7689ad178b0b07714525d844:8a8ef95c4c4270b82b2652023412f40f$</string>
            <key>textureFileName</key>
            <string>player_anim_encrypted.pvr.ccz</string>
        </dict>
    </dict>
</plist>
